.container-fluid {
  padding: 5% 15% 2%;
}

.container-fluid-testimonial {
  padding: 0 15%;
}

hr.large-line {
  border: 1px solid #fff;
  width: 30%;
  margin-bottom: 30px;
}

hr.medium-line {
  border: 1px solid #fff;
  width: 20%;
  margin-bottom: 30px;
}

hr.small-line {
  border: 1px solid #fff;
  width: 10%;

}

h2 {
  font-family: "Damion", sans-serif;
  font-size: 7rem;
  letter-spacing: .2rem;
  text-align: center;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-family: "Poppins", sans-serif;
}

/* Nav bar */
.navbar {
  padding: 0 1px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #F25955;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.logo {
  max-width: 200px;
}

.colored-section {
  background-color: #F5B7B1;
  color: white;
}

.colored-section-pricing {
  background-color: #F5B7B1;
  color: black;
}

/* Title Section */
#title {
  background-color: #F5B7B1;
  padding-bottom: 1.5%;
}

.food-title{
  padding-bottom: 5%;
}

.main-logo {
  max-width: 100%;
}

.main-title{
  padding: 0;
}

.title-image {
  position: relative;
  max-width: 100%;
  margin-top: 70px;
  filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.48));
}

.second-title {
  font-family: Poppins, sans-serif;
  padding: 4% 0 5%;
  text-align: center;
}

.sustain {
  font-size: 5rem;
  line-height: 1.2;
  padding-right: 15px;
}

/*Site margins*/
#product, #about, #pricing {
  padding: 5% 15%;
}
/* Product Section */
.dog-food-row {
  margin: auto;
  display: block;
}

.large-dog {
  width: 45%;
  position: relative;
  float: left;
}

.big-food, .small-food, .med-dog-text {
  width: auto;
  font-size: 1.2rem;
  padding-top: 10%;
  line-height: 2;
}

.right-dog-button {
  text-align: right;
}

.left-dog-button {
  z-index: 1;
}

.medium-dog {
  width: 45%;
  position: relative;
  float: right;
}

.med-dog-text {
  padding-top: 9%;
}

.small-dog {
  padding-top: 3%;
  width: 43%;
  position: relative;
  float: left;
}
/* Testimonial Section */

#carousel-testimonial{
  padding: 5%;
}

.carousel-item {
  padding: 0 23% 5%;
}

.dog-slide-img {
  max-width: 100%;
}

.testimonial-text {
  text-align: center;
  font-size: 2rem;
  padding: 7% 8% 0;
}

/*About*/

.about-text {
  padding-top: 60px;
  text-align: center;
  font-size: 2rem;
}

/* Banner */
.woman-and-dog {
  width: 100%;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 5%;
}

/* Pricing Section */
#pricing {
  margin-top: 35%;
  padding-top: 3%;
}

.card-body {
  padding: 20px auto;
}

.card-deck{
  padding-top: 5%;
}
.card {
  align-items: center;
  border-radius: 10%;
  border: 0px;
}

.pricing {
  color: #fff;
}

.card-title {
  padding: 0 10px;
  background-color: #F25955;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}

.pricing-btn{
  width: 90%;
}

/* Footer Section */

#footer{
  text-align: center;
  font-size: 2rem;

}

.container-fluid-footer{
  padding: 2% 15%;
}

.social-icon{
  margin: 40px 30px;
  color: black;
  transition: color 0.2s ease;
}

/**********************
*****MEDIA QUERIES****/
@media screen and (max-width: 991px){
  .navbar{
    height: 6rem;
  }
  #product, #about, #pricing {
    padding: 5% 2%;
  }
  h3, h3~p{
    text-align: center;
  }
  .dog-food-row, .medium-food, .card-deck{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0 8%;
  }
  .small-food,
  .med-dog-text,
  .big-food{
    padding-top: 2%;
  }
  /*Testimonial*/
  .container-fluid-testimonial {
    padding: 0;
  }
  .carousel-item{
    padding-left: 10%;
    padding-right: 10%;
  }
  /*Pricing*/
  /* .card-deck{
    display: flex;

  } */
  /*Footer*/
  .container-fluid-footer{
    padding: 0;
  }
}

@media (hover: hover){
  .social-icon:hover{
    color: #F25955;
  }
}
